<!doctype html>
<html>
  <head>  	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/admin/images/favicon.gif">
      	
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,900' rel='stylesheet'>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/admin/dashboard.css" rel="stylesheet">
    <script src="/css/admin/admin.css"></script> 
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular/angular.min.js"></script> 
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
  </head>
  <body ng-app="Admin">

      <div ng-view></div>

    <!-- Modules -->
    <script src="/js/angular/app.js"></script>

    <!-- Controllers -->
<!--     
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/EmailController.js"></script>
 -->
    <!-- Services -->
    <!-- <script src="js/services/emails.js"></script> -->
  </body>
</html>