<!doctype html>
<html>
  <head>  	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/admin/images/favicon.gif">      	
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,900' rel='stylesheet'>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/admin/dashboard.css" rel="stylesheet">
    <link href="/css/admin/admin.css" rel="stylesheet"></link> 
    
    <script src="//code.jquery.com/jquery-1.11.3.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular/angular.min.js"></script> 
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>    
  </head>
  <body ng-app="Admin">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Jake's Box</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
<!--             <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li> -->
            <li><a href="javascript:window.location.href='/view/adminInfo/loginForm.html';">Logout</a></li>
          </ul>
<!--           <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 sidebar col-md-2 ">
          <ul class="nav nav-sidebar">
            <li ng-class="{ 'active': location.path() === '/list' || location.path().indexOf('edit') > 0 }"><a href="#list">List</a></li>
            <li ng-class="{ 'active': location.path() === '/add' }"><a href="#add">Add</a></li>
<!--            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li> -->
          </ul>
<!--           <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul> -->
        </div>
        
            
      <div ng-view></div>
      
      
      </div>
    </div>      

    <!-- Modules -->
    <script src="/js/angular/app.js"></script>
    <!-- Controllers -->
<!--     
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/EmailController.js"></script>
 -->
    <!-- Services -->
    <!-- <script src="js/services/emails.js"></script> -->
  </body>
</html>