@charset "utf-8";

/********** admin **********/ 
.neighborhood-guides {
    background-color: #efefef;
    border-bottom : 1px solid #dbdbdb;
}

.neighborhood-guides .container {
  position: relative;
}

.form-group .form-control {
 	margin-left : 10px;
 	width : 300px;
 	margin-bottom : 10px;
}

.container label {
	 margin-left:5px; 
	 color:#fff; 
	 background-color:#428BCA;
	 margin-right:5px;	
}