


        <div ng-controller="ListController" ng-init="getList(1)" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">User List</h1>

<!--           <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div> -->

          <!-- <h2 class="sub-header">Member List</h2> -->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Email</th>
                  <th>Name</th>
                  <th>Phone Number</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in lists">
                  <td>{{list.id}}</td>
                  <td><a ng-href="#edit/{{list.id}}">{{list.email}}</a></td>
                  <td>{{list.name}}</td>
                  <td>{{list.mobileNumber}}</td>
                  <td>
                  	<button type="button" class="btn btn-default btn-xs" ng-click="deleteRecord(list.id)">Delete</button>
					</td>
                </tr>
              </tbody>
            </table>
          </div>
	
			<nav style="margin:0 auto; width:300px;">
				<ul class="pagination">
				   <li class="{{pagination.hasPrevious()?'':'disabled'}}"><a href="" ng-click="pagination.previous();getList(pagination.current() - 1)">&laquo;</a></li>
				   <li ng-show="pagination.hasPrevious()"><a href="" ng-click="getList(pagination.current() - 1)">{{pagination.current() - 1}}</a></li>
				   <li ng-hide="pagination.hasPrevious()"><span>&nbsp;</span></li>
				   <li class="active"><a href="" ng-click="getList(pagination.current())">{{pagination.current()}}</a></li>
				   <li ng-show="pagination.hasNext()"><a href="" ng-click="getList(pagination.current() + 1)">{{pagination.current() + 1}}</a></li>
				   <li class="{{pagination.hasNext()?'':'disabled'}}"><a href="" ng-click="pagination.next();getList(pagination.current() + 1)">&raquo;</a></li>
				</ul>	  
			</nav>

        </div>
